@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';

.login-container {
    height: 80vh;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;


    .login-content {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

