@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.container {
    padding: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;
    font-family: $font-basic;
}

.content {
    height: 80vh;
    padding-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    text-align: center;
    justify-content: center;

    
    .card {
        max-width: 20rem;
        max-height: 21rem;
        background-color: $bg-ligth;
        border-radius: 8px;
        margin: 2rem 1rem;
        padding: 0 0 4rem 0;
        box-shadow: 0px 11px 12px rgba(23, 34, 25, 0.2);
    }
}