@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.container {
    padding: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;
    font-family: $font-basic;
}

.content {
    height: 80vh;
    padding-top:10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    text-align: center;
    justify-content: center;

    
    .li {
        font-size: 10rem;
    }
}