@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.perfil-container {
    @include main-container;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;

    .perfil-button {
        @include button-ligth;
        background-color: aqua;
    }

}