@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';

.home-container {
    @include home-container;
    text-align: center;
    display: flex;
    background-color: rgb(8, 8, 8);


    .home-content {
        width: 100%;
        height: 100%;
        background: url('../../assets/img/home-1.jpg') no-repeat center/cover;
        opacity: 0.8;
        display: flex;
        align-items: center;

        .home-text {
            color: $secondary-color;
            width: 50%;
            padding-left: 10rem;
            text-align: left;
            color: $secondary-color;
            font-family: $font-basic;
            font-weight: 400;
            font-size: $xl;
        }

    }

}
