@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';

.home-container {
    height: 80vh;
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: rgb(8, 8, 8);

    .home-content {
        width: 100%;
        height: 100%;
        background: url('../../assets/img/home-1.jpg') no-repeat center/cover;
        padding-left: 3rem;
        opacity: 0.8;
        display: flex;
        align-items: center;


        .home-text {
            color: $secondary-color;
            width: 70%;
            text-align: left;
            color: $secondary-color;
            font-family: $font-basic;
            font-weight: 400;
            font-size: 3.5rem;
        }

        .home-text-bottom {
            font-size: 2rem;
            background-color: $secondary-color;
            width: 25rem;
            color: white;
            padding: 0.5rem;
        }

    }

}


.categorias-container {
    height: 50vh;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;

    .categoria-content {

        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;


        .categoria-item {
            width: 10rem;
            height: 10rem;
            background-color: $secondary-color;
            border-radius: 50%;
            align-content: center;
            justify-content: center;
            margin: auto;
            padding-top: 2.5rem;
            font-size: 1.5rem;
            color: $bg-ligth;
            font-family: $font-basic;
            text-transform: uppercase;
        }
    }
}