@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.publicar-container {
    padding: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;
    font-family: $font-basic;
}

.publicar-content {
    height: 80vh;
    padding-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;

    .publicar {

        display: flex;
        padding: 2rem;
        height: 100%;


        .publicar-vista {

            height: 20rem;
            width: 30rem;
            background-color: $bg-green;
            margin: 0 10rem;
            align-items: center;
            text-align: center;
            padding-top: 8rem;

        }


        .publicar-form {
            flex-direction: column;
            margin-right: 2rem;

            .form-content {
                display: block;
                margin-bottom: 1rem;

                .label-input {
                    display: block;
                    margin:  0.3rem;
                    height: 2rem;
                    flex-direction: column;
                    width: 15rem;
                    background-color: $bg-green;
                    border-radius: 30px;
                    border: none;
                    text-align: center;

                }

                .label-input::placeholder {
                    opacity: 0.6;
                    color: $text-dark;
                }

                .label-input:focus {
                    border: 1px solid $secondary-color;
                }

            }
 
            .login-button {
                @include button-ligth;
                background-color: $secondary-color;

            }

        }
    }
}