@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.publicar-container {
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $bg-ligth; 
    font-family: $font-basic;
}

.publicar-content {
    height: 80vh;
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .publicar-button {
        @include button-ligth;
        background-color: aqua;
    }

}



    
