@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.publicar-container {
    padding: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;
    font-family: $font-basic;
}

.publicar-content {
    height: 80vh;
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;



    .publicar {
        display: flex;
        padding: 2rem;
        height: 100%;
        align-items: center;
        text-align: center;

        .publicar-vista {
            display: block;
            height: 20rem;
            width: 60%;
            background-color: $bg-green;
            padding-top: 4rem;
            justify-content: space-around;
            align-items: center;
            text-align: center;

            .card {
                width: 50rem;
                display: flex;
                justify-content:space-evenly;
                align-items: center;
                text-align: left;
                padding-right: 4rem;

                .header-card {
                    text-align: center;
                    justify-content: center;

                    .card-img {
                        border-radius: 8px;
                        max-height: 150px;
                    }
                }

                .footer-card {
                    flex-direction: column;
                    padding: 0 3rem;

                    .raza-text {
                        border-bottom: 1px solid $secondary-color;
                        width: 20rem;
                        color: $secondary-color;
                        font-style: italic;
                    }

                    .nombre-text {
                        text-transform: capitalize;
                    }

                    .description-text {
                        color: rgb(14, 13, 12);
                        font-family: $font-basic;
                        width: 20rem;
                    }


                }


            }

        }

        .publicar-form {
            display: flex;
            height: 100%;
            flex-direction: column;
            margin-left: 4rem;
            


            .form-content {
                display: block;
                margin-bottom: 1rem;

         
                .form-input {
                    display: block;
                    margin: 0.3rem;
                    height: 2rem;
                    flex-direction: column;
                    width: 25rem;
                    background-color: $bg-green;
                    border-radius: 30px;
                    border: none;
                    text-align: center;

                }

                .form-input::placeholder {
                    opacity: 0.6;
                    color: $text-dark;
                }

                .form-input:focus {
                    border: 1px solid $secondary-color;
                }

                .form-input-textarea{
                    display: block;
                    margin: 0.3rem;
                    width: 25rem;
                    background-color: $bg-green;
                    border-radius: none;
                    border: none;
                    text-align: left;
                }

              
                }

                 .form-content-inline {
                    display: flex;

                     .form-input-sm{
                    margin: 0.3rem;
                    height: 2rem;
                    flex-direction: column;
                    width: 8rem;
                    background-color: $bg-green;
                    border-radius: 30px;
                    border: none;
                    text-align: center;

                }

            }

            .form-button {
                @include button-ligth;
                background-color: $secondary-color;

            }

        }
    }
}