@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.navbar {
    width: 100%;
    height: 6.5rem;
    position: fixed;
    z-index: 5;
    background-color: $primary-color;


    .navbar-logo {
        display: flex;
        align-items: center;
        margin: 1rem;
        color: $text-ligth;
        font-family: $font-basic;
        font-size: $md;
    }

    .navbar-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navbar-menu {
            justify-content: space-around;

            .navbar-top {
                display: flex;
                justify-content: space-around;

                .navbar-social {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: $text-ligth;


                    .social-icon {
                        font-size: 1.5rem;
                        margin: 0.7rem 1rem 0.5rem 0;
                    }

                }


                .navbar-login-user {
                    width: 6rem;
                    color: $text-ligth;
                    padding-top: 1rem;
                    text-align: center;
                    font-family: $font-basic;
                }


                .button-black {
                    @include button-ligth;
                    background-color: rgb(196, 118, 62);
                    width: 6rem;

                }

                .button-ligth {
                    @include button-ligth;
                    width: 6rem;
                }

            }


        }

        .navbar-bottom {
            display: flex;
            justify-content: space-around;


            .navbar-navegation {
                display: flex;

                .navbar-navegation-item {
                    margin: 1rem;
                    font-family: $font-basic;
                    color: $text-ligth
                }

            }

        }


    }


}