@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';

.login-container {
    @include main-container;
    text-align: center;
    display: flex;
    background-color: rgb(8, 8, 8);
}