@import '../../scss/abstract/variables';
@import '../../scss/abstract/mixins';


.detalle.container {
    padding: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-color: $bg-ligth;
    font-family: $font-basic;
    font-weight: 300;
}

.detalle-content {
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;


    .card {
        display: flex;
        padding: 2rem;
        height: 100%;

        justify-content: center;
        align-items: center;
        text-align: left;

        .header-card {
            width: 35rem;
            margin: 0 6rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding-top: 6rem;


            .card-img {

                border-radius: 8px;
                max-height: 200px;

            }
        }


        .footer-card {
            flex-direction: column;
            margin-right: 2rem;

            .raza-text {
                border-bottom: 1px solid $secondary-color;
                color: $secondary-color;
                padding: 0.2rem 0.5rem;
                margin: 0.3rem;
                font-style: italic;
                font-size: $md;
            }

            .nombre-text {
                text-transform: capitalize;
            }

            .description-text {

                margin: 1rem;
                font-family: $font-basic;
                margin-bottom: 2rem;
            }

            .message-button {
                @include button-ligth;
                background-color: $bg-dark;
                margin-top: 0.5rem;

            }

            .message-line {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 2rem;
                width: 90%;
                border: none;
            }

            .message-text {
                color: $text-dark;
                height: 100%;
                width: 100%;
                font-family: $font-basic;
                font-size: $sm;
            }

            .message-close {
                height: 100%;
                margin-left: 6rem;
                color: $text-dark;
                cursor: pointer;
            }




            .detalle-button {
                @include button-black;
            }


        }


    }


}